.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0px 10px;
  }
  
  .logo img {
    height: 30px;
  }
  
  .timer {
    font-size: 16px;
    font-weight: bold;
  }
  
  .hamburger-menu {
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
  }
  
  .menu-content {
    position: absolute;
    right: 10px;
    top: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 99;
  }
  