/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f7fc;
  color: #333;
  line-height: 1.6;
}

/* Container for all pages */
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Register Page */
.register-container h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #007bff;
}

input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 0.9rem;
}

/* Rules Page */
.rules-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ff6b6b;
}

.rules-box {
  border: 2px solid #007bff;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: left;
}

.rules-box ul {
  list-style-type: decimal;
  padding-left: 20px;
}

.rules-box ul li {
  margin-bottom: 10px;
  font-size: 1rem;
}

.rules-box button {
  display: block;
  margin: 20px auto 0 auto;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rules-box button:hover {
  background-color: #218838;
}

/* Challenge Page */
.challenge-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #17a2b8;
  text-align: left;
}

.reusable-container {
  background-color: #f9f9f9;
  border: 2px solid #6c757d;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.reusable-container h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #343a40;
}

.description-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description-content .text-section {
  width: 60%;
  font-size: 1rem;
}

.description-content .image-section img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.codeword-container p {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 5px 0;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.input-container button {
  padding: 10px;
  background-color: #17a2b8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-container button:hover {
  background-color: #138496;
}

/* Utility classes */
.text-center {
  text-align: center;
}

.lefty-section{
  background: #333;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}